<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>boardlist</title>
</head>
<body>
<table border="1">
    <tr>
        <th>제목</th>
        <th>삭제</th>
        <th>조회수</th>
    </tr>
    <tr th:each="board: ${boardList}">
        <td>
            <a th:href="@{|/board/${board.id}|}" th:text="${board.title}">조회</a>
        </td>
        <td>
            <a th:href="@{|/board/delete/${board.id}|}">X</a>
        </td>
        <td>
            <a th:text="${board.view}"></a>
        </td>
    </tr>
</table>
<a href="/board/save">작성하기</a>

</body>
</html>