<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>세부정보</title>
</head>
<body>
<table border="1">
    <tr>
        <th>제목</th>
        <th>내용</th>
        <th>이미지</th>
        <th>수정하기</th>
    </tr>
    <tr>
        <td th:text="${board.title}"></td>
        <td th:text="${board.content}"></td>
        <td><img th:if="${board.imageUrl}" th:src="${board.imageUrl}" alt="image"></td>
        <td><a th:href="@{|/board/edit/${board.id}|}">수정하기</a></td>
    </tr>

</table>

</body>
</html>