<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajax_test</title>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div>
    <input type="button" value="btn1" onclick="ajax_test1();">
    <input type="button" value="btn2" onclick="ajax_test2();">
    <input type="button" value="btn3" onclick="ajax_test3();">
    <input type="button" value="btn4" onclick="ajax_test4();">
    <input type="button" value="btn5" onclick="ajax_test5();">
</div>
<script type="text/javascript" src="/test_ajax.js"></script>

</body>
</html>
